<div class="container-fluid">
    <div class="logo-top">
        <img src="assets/logo.png" alt="logo">
        <div class="newsLetter row">
            <form>
                <label class="textenewsletter" for="email">Inscrivez-vous à la newsletter :</label>
                <div>
                    <input type="email" placeholder="exemple@exemple.fr">
                    <button type="submit" class="btn btn-info">Envoyer</button>
                </div>

            </form>
        </div>
    </div>
</div>