<div class="container-fluid">
    <footer>
        <div class="footer">

            <div class="col-1">
                <ul>
                    <li><a href="#">Qui sommes nous ?</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Nos Clients</a></li>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Réalisations</a></li>

                </ul>
            </div>

            <div class="col-2">
                <ul>
                    <li><a href="/actualites/actualites-juridiques">Histoire</a></li>
                    <Li><a href="/nous-aider">Equipe</a></Li>
                    <Li><a href="/nos-partenaires">Notre présence</a></Li>
                    <Li><a href="/contact">Contact</a></Li>
                </ul>
            </div>

            <div class="col-3">
                <img src="assets/logo.png" style="width: 80px; height:auto;">
            </div>

            <div class="col-4">
                <ul>
                    <li>
                        <div>
                            <p class="sociaux"><img src="assets/twitter.svg" style="width: 40px; height:auto;">
                                <a href="#" target="blank">@Opencylife</a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="sociaux"><img src="assets/facebook.svg" style="width: 40px; height:auto;">
                                <a href="#" target="_blank">@Opencylife</a></p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </footer>
</div>