<div class="container-fluid bg-warning p-3 mt-5">


    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <ul>
                    <li><a routerLink="/histoire">Qui sommes nous ?</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/clients">Nos Clients</a></li>
                    <li><a routerLink="/blog">Actualités</a></li>
                    <li><a routerLink="/produits">Réalisations</a></li>

                </ul>
            </div>

            <div class="col-xl-3">
                <ul>
                    <li><a routerLink="/histoire">Histoire</a></li>
                    <Li><a routerLink="/equipes">Equipe</a></Li>
                    <Li><a routerLink="/presence">Notre présence</a></Li>
                    <Li><a routerLink="/contact">Contact</a></Li>
                </ul>
            </div>

            <div class="col-xl-2">
                <img src="assets/images/molumen_audio_cassette.svg" style="width: 80px; height:auto;">
            </div>

            <div class="col-xl-4">
                <ul>
                    <li>
                        <div>
                            <p class="sociaux"><img src="assets/twitter.svg" style="width: 40px; height:auto;">
                                <a href="#" target="blank">@magnetoLyon</a></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="sociaux"><img src="assets/facebook.svg" style="width: 40px; height:auto;">
                                <a href="#" target="_blank">@magnetoLyon</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>