<div class="container">

    <div class="histoire">
        <h1 class="titres">A l'origine il n'y avait rien</h1>
        <p class="citation">Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p class="citation">- Notre Fondateur</p>
        <div class="recit">
            <img src="https://via.placeholder.com/200x300.png/" alt="">
            <ul>
                <li>
                    <h4>1923 :</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non
                        venenatis dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis
                        nisl rutrum condimentum. Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris</p>
                </li>
                <li>
                    <h4>1966 :</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non
                        venenatis dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis
                        nisl rutrum condimentum. Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris</p>
                </li>
                <li>
                    <h4>1994 :</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non
                        venenatis dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis
                        nisl rutrum condimentum. Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris</p>
                </li>
            </ul>
        </div>

    </div>
</div>