<div class="container">

    <div class="histoire">
        <h1 class="titres">A l'origine il n'y avait pas un son</h1>

        <div class="row">
            <img class="col-xl-4 mr-3" src="assets\images\Tdkc60cassette.webp" alt="" style="width: 100%; height: 100%;">
            <ul class="col-xl-7">
                <li>
                    <h4>1901 :</h4>
                    <p>Invention du disque</p>
                </li>
                <li>
                    <h4>1963 :</h4>
                    <p>Découverte de la cassette en Hollande</p>
                </li>
                <li>
                    <h4>1994 :</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non
                        venenatis dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis
                        nisl rutrum condimentum. Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris</p>
                </li>
            </ul>
        </div>

    </div>
</div>