<div class="container">
    <h1 class="titres">Notre Actualité</h1>
    <div class="row">
        <div class="col-xl-8">
            <div class="card border" style="width: 80%;">
                <div class="imagesInCard">
                    <img class="card-img" src="https://via.placeholder.com/300x200.webp" alt="employé 1">
                </div>
                <div>
                    <h4 class="card-title">Vidre grenier du 3ème</h4>
                    <p class="card-p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border" style="width: 80%;">
                <div class="imagesInCard">
                    <img class="card-img" src="https://via.placeholder.com/300x200.webp" alt="employé 1">
                </div>
                <div>
                    <h4 class="card-title">Vente de Printemps</h4>
                    <p class="card-p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border" style="width: 80%;">
                <div class="imagesInCard">
                    <img class="card-img" src="https://via.placeholder.com/300x200.webp" alt="employé 1">
                </div>
                <div>
                    <h4 class="card-title">Employé du mois</h4>
                    <p class="card-p">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <h1>Agenda</h1>
            <a href="http://89.88.39.199/nextcloud/index.php/apps/calendar/p/RYBQ9AH23Ne7fWNS/Personnel" target="blank"><img src="assets/images/agenda.webp" alt=""></a>

        </div>
    </div>

</div>