<div class="container">
    <div class="row">
        <ul class="col-xl-6 mr-5">
            <li>
                <h4 class="adressTitle">Lyon 4</h4>
                <hr>
                <p>Notre boutique de Lyon 4 vous accueille depuis mars 2007<br>7 rue burdeau<br>69004 Lyon</p>
            </li>
            <li>
                <h4 class="adressTitle">Lyon 8</h4>
                <hr>
                <p>Notre boutique de Lyon 8 vous accueille depuis janvier 2011<br>8 rue trarieux<br>69008 Lyon</p>
            </li>
            <li>
                <h4 class="adressTitle">Lyon 3</h4>
                <hr>
                <p>Notre boutique de Lyon 3 vous accueille depuis juin 2011<br>16 rue de la part dieu<br>69003 Lyon</p>
            </li>
        </ul>
        <div class="map col-xl-5">
            <a href="http://umap.openstreetmap.fr/fr/map/anonymous-edit/367589:3VM-vL42QJ8-56AkjWWRoSvEK08" target="blank"><img src="assets/map.png" alt="carte"></a>
        </div>

    </div>

</div>