<!-- services  -->
<div class="container">

    <h1 class="titres">Nos Experts à votre service</h1>

    <div class="jumbotron bg-success shadow">
        <h2 class="display-5">Récupération de bandes abimées</h2>
        <table>
            <tr>
                <td>
                    <img src="https://via.placeholder.com/150" alt="..." style="margin-right: 10px">
                </td>
                <td>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis</p>

                </td>
            </tr>
        </table>
        <hr>
        <p>Prix sur demande</p>
    </div>

    <div class="jumbotron bg-success shadow">
        <h2 class="display-5">Dépot vente de magnétos</h2>
        <table>
            <tr>
                <td>
                    <img src="https://via.placeholder.com/150" alt="..." style="margin-right: 10px">
                </td>
                <td>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis</p>

                </td>
            </tr>
        </table>
        <hr>
        <p>Prix sur demande</p>
    </div>