<div class="container">
    <h1 class="titres">Nos produits</h1>

    <div class="gallery">
        <!-- image1 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-1"><img src="assets/images/_MG_0037.webp" alt="Chaise de designer"></label></div>
            <p class="desription-galery">Chaise de designer</p>
        </div>

        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-1"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-1"></label>
                <h2>Chaise de designer</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_0037.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

        <!-- image2 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-2"><img src="assets/images/_MG_9884.webp" alt=""></label></div>
            <p class="desription-galery">Jeu d'enfant</p>
        </div>

        <input class="modal-state" id="modal-2" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-2"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-2"></label>
                <h2>Jeu enfant</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_9884.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

        <!-- image3 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-3"><img src="assets/images/_MG_9890.webp" alt=""></label></div>
            <p class="desription-galery">tableau</p>
        </div>

        <input class="modal-state" id="modal-3" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-3"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-3"></label>
                <h2>tableau</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_9890.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

        <!-- image4 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-4"><img src="assets/images/_MG_9925.webp" alt=""></label></div>
            <p class="desription-galery">Fauteuil Rietvelt</p>
        </div>

        <input class="modal-state" id="modal-4" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-4"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-4"></label>
                <h2>Fauteuil Rietvelt</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_9925.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

        <!-- image5 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-5"><img src="assets/images/_MG_9929.webp" alt=""></label></div>
            <p class="desription-galery">Fauteuil pantone</p>
        </div>

        <input class="modal-state" id="modal-5" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-5"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-5"></label>
                <h2>Fauteuil pantone</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_9929.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

        <!-- image6 -->
        <div class="gallery-item">
            <div class="content"><label for="modal-6"><img src="assets/images/_MG_9930.webp" alt=""></label></div>
            <p class="desription-galery">Fauteuil pantone</p>
        </div>

        <input class="modal-state" id="modal-6" type="checkbox" />
        <div class="modal">
            <label class="modal__bg" for="modal-6"></label>
            <div class="modal__inner">
                <label class="modal__close" for="modal-6"></label>
                <h2>Fauteuil pantone</h2>
                <div class="rowModale">
                    <img src="assets/images/_MG_9930.webp" alt="" />
                    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
                </div>
            </div>
        </div>

    </div>

</div>