body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.titres {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 15px;
    color: rgb(68, 149, 255);
}

li {
    list-style: none;
}

.calendar {
    height: 700px;
    border: 0;
}


/* cards */

.card {
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-title {
    margin-left: 10px;
    margin-right: 10px;
}

.card-p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 180px;
    max-width: 200px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagesInCard {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}


/* parallax */

.wrapper {
    background: url(assets/images/shop.webp);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* logo  */

.logo-top img {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* footer */

.sociaux img {
    padding-right: 10px;
}


/* accueil */

.accueil p {
    text-align: justify;
}

.accueil img {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}


/* presence */

.map {
    max-width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.map img {
    width: 100%;
    padding: 15px;
    border: rgb(196, 196, 196) solid 1px;
    border-radius: 10px;
}

.adressTitle {
    padding: 10px;
    border-radius: 3px;
    background: linear-gradient(90deg, rgb(68, 149, 255) 0%, rgba(68, 149, 255, 0.24) 100%);
}


/* gallerie */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content img {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.content {
    padding: 8px;
    background-color: white;
    transition: transform 0.5s;
    border-radius: 5px;
}

.gallery-item {
    box-shadow: 5px 5px 3px rgb(187, 187, 187);
    margin: 8px;
}

.content:hover {
    transform: scale(1.3);
}

.desription-galery {
    margin-left: 8px;
    font-style: oblique;
    font-weight: bold;
}


/* Clients */

.clientList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.membres {
    margin: 2em;
    border-radius: 5px;
    width: 200px;
}

.logoClient {
    max-height: 80px;
    max-width: 150px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardClientName {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* contact */

#contact,
label,
input[name="submit"] {
    position: relative;
}

label>input,
textarea,
button,
select {
    box-sizing: border-box;
}

label {
    display: block;
}

input,
textarea,
button,
select {
    width: 70%;
    padding: 0.5em;
    border: none;
    font: 300 100%/1.2 Ubuntu, sans-serif;
}

input[type="text"],
input[type="email"],
textarea,
select {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}

textarea {
    height: 6em;
}

option {
    color: rgb(148, 148, 148)
}

.iconContact {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.modal-content>img {
    width: 100%;
    height: auto;
}