<div class="container">
    <div class="accueil row">
        <h1>Vous n'écoutez plus, nous recyclons !</h1>
        <p class="col-xl-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non venenatis
            dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis nisl rutrum condimentum.
            Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris sapien, ac malesuada nunc ultrices et. Vestibulum faucibus elit id porta luctus. Nunc ac eleifend
            lacus. In hac habitasse platea dictumst. Nullam ac enim a dolor posuere semper quis dictum lacus. Sed sagittis nec est eu dapibus. Donec pulvinar tellus elit, at ullamcorper sapien sodales quis. Nulla eu efficitur mauris, in blandit sapien.
        </p>
        <img class="pl-5 col-xl-4" src="../../assets/images/1805313magnetophone-jpg.webp" alt="magneto">
    </div>
</div>