<div class="container">
    <div class="accueil">
        <h1>La page d'accueil de votre site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam suscipit sollicitudin. Vestibulum cursus lectus nisl, nec sodales neque rhoncus ac. Donec scelerisque sit amet purus eget sollicitudin. Duis tincidunt, purus non venenatis
            dapibus, ante orci condimentum mi, id mollis augue eros non ligula. Nullam ut vehicula ligula. Vivamus dapibus eros quis sem tincidunt dictum. Pellentesque ut lectus ac massa pharetra porta. Etiam porttitor purus quis nisl rutrum condimentum.
            Suspendisse molestie urna odio, quis commodo nisl placerat sit amet. Integer faucibus mauris vel scelerisque blandit. Curabitur lobortis mauris sapien, ac malesuada nunc ultrices et. Vestibulum faucibus elit id porta luctus. Nunc ac eleifend
            lacus. In hac habitasse platea dictumst. Nullam ac enim a dolor posuere semper quis dictum lacus. Sed sagittis nec est eu dapibus. Donec pulvinar tellus elit, at ullamcorper sapien sodales quis. Nulla eu efficitur mauris, in blandit sapien.
            Aliquam porttitor non lacus ac placerat. Mauris in nisl nec orci pulvinar lacinia laoreet non lorem. Integer cursus mauris in erat auctor, eget luctus neque dictum. Nunc eu mollis velit. Nunc ultricies felis nec orci pulvinar, et pulvinar
            ante consequat. Phasellus iaculis orci at quam suscipit, et gravida enim rhoncus. Sed maximus auctor consequat. Sed egestas eget elit in pharetra. Vestibulum bibendum quam vel est bibendum congue. Donec sit amet mi metus. In vel sapien sollicitudin
            nibh varius varius in id velit. Quisque id imperdiet erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <img src="https://via.placeholder.com/350x150.png/09f/fff" alt="">
    </div>
</div>